src/aws_json.json
[
    {
        "id": "3711d713c17bd141",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "e2e2ed217caac710",
        "type": "rbe",
        "z": "3711d713c17bd141",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 390,
        "y": 180,
        "wires": [
            [
                "1b58fe137e475ef9"
            ]
        ]
    },
    {
        "id": "caa4b03d55e2e253",
        "type": "ui_button",
        "z": "3711d713c17bd141",
        "name": "",
        "group": "96df22abb9528455",
        "order": 6,
        "width": "6",
        "height": "1",
        "passthru": false,
        "label": "STOP",
        "tooltip": "",
        "color": "",
        "bgcolor": "#e63946",
        "className": "",
        "icon": "fa-stop",
        "payload": "0",
        "payloadType": "num",
        "topic": "topic",
        "topicType": "msg",
        "x": 250,
        "y": 260,
        "wires": [
            [
                "5ffacbf69f4f6015"
            ]
        ]
    },
    {
        "id": "ecb959f5a4435448",
        "type": "ui_button",
        "z": "3711d713c17bd141",
        "name": "",
        "group": "96df22abb9528455",
        "order": 7,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "LEFT",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "fa-arrow-left",
        "payload": "2",
        "payloadType": "num",
        "topic": "topic",
        "topicType": "msg",
        "x": 250,
        "y": 320,
        "wires": [
            [
                "5ffacbf69f4f6015"
            ]
        ]
    },
    {
        "id": "a7bfdd0fa696fb0a",
        "type": "ui_button",
        "z": "3711d713c17bd141",
        "name": "",
        "group": "96df22abb9528455",
        "order": 8,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "RIGHT",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "fa-arrow-right",
        "payload": "3",
        "payloadType": "num",
        "topic": "topic",
        "topicType": "msg",
        "x": 240,
        "y": 380,
        "wires": [
            [
                "5ffacbf69f4f6015"
            ]
        ]
    },
    {
        "id": "1b58fe137e475ef9",
        "type": "ui_gauge",
        "z": "3711d713c17bd141",
        "name": "",
        "group": "96df22abb9528455",
        "order": 9,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "SPEED",
        "label": "RPM",
        "format": "{{value}}",
        "min": 0,
        "max": "600",
        "colors": [
            "#d9ed92",
            "#b5e48c",
            "#99d98c"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 540,
        "y": 180,
        "wires": []
    },
    {
        "id": "5ffacbf69f4f6015",
        "type": "mqtt out",
        "z": "3711d713c17bd141",
        "name": "",
        "topic": "command",
        "qos": "2",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "5a535b6b8939d363",
        "x": 480,
        "y": 320,
        "wires": []
    },
    {
        "id": "460eab6d75c35e75",
        "type": "mqtt in",
        "z": "3711d713c17bd141",
        "name": "",
        "topic": "speed",
        "qos": "2",
        "datatype": "auto",
        "broker": "5a535b6b8939d363",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 250,
        "y": 180,
        "wires": [
            [
                "e2e2ed217caac710"
            ]
        ]
    },
    {
        "id": "04c874fb05275a45",
        "type": "ui_slider",
        "z": "3711d713c17bd141",
        "name": "",
        "label": "Speed",
        "tooltip": "",
        "group": "96df22abb9528455",
        "order": 10,
        "width": "0",
        "height": "0",
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": "100",
        "max": "600",
        "step": "10",
        "className": "",
        "x": 250,
        "y": 440,
        "wires": [
            [
                "7f60e18bd612a8c7"
            ]
        ]
    },
    {
        "id": "7f60e18bd612a8c7",
        "type": "mqtt out",
        "z": "3711d713c17bd141",
        "name": "",
        "topic": "speedControl",
        "qos": "2",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "5a535b6b8939d363",
        "x": 490,
        "y": 440,
        "wires": []
    },
    {
        "id": "96df22abb9528455",
        "type": "ui_group",
        "name": "Wireless Motor Controller",
        "tab": "1074c99b6a630b3c",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "5a535b6b8939d363",
        "type": "mqtt-broker",
        "name": "",
        "broker": "",
        "port": "",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "3",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "1074c99b6a630b3c",
        "type": "ui_tab",
        "name": "Motor",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]